body{
    background: #EEEEEE;
}


.cabeza {
    width: 100%;
    height: 110px;
    margin-bottom: 40px;
}

.title {
    height: 110px;
    border-bottom: #707070 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title i {
    font-size: 70px;
}

.title h1 {
    margin-left: 12px;
    font-size: 30px;
}

.card {
    border-radius: 10px;
}


h1{
    font-size: 25px;
    padding: 15px;
}


.btn-floating{
    margin-left: 8px ;
   bottom: 15px;
    left: 15px;
   background-color: #3f51b5 ;
}

.btn-floating:hover{
  background: #ffa726;
}


.nombres{
    width: 500px;
}

#more{
    width: 100%;
}

.collapsible-header{
    border-radius: 12px;
}

.collapsible-body{
    border-radius: 12px;
}

.collapsible{
    border-radius: 12px
}

#fecha{
    color: #fb8c00;
}


.margen{
    margin-left: 30px
}




