.imgca {
    width: 100%;
    height: 500px;
}

#banner {
    width: 100%;
    height: 100%;
}

.carrusel {
    margin-top: 30px;
    margin-bottom: 10px;
}

.carousel {
    border-radius: 15px;
}

#cardpro {
    border-radius: 15px;
}

#imagenproducto {
    width: 210px;
    height: 210px;
}

#footcard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontsurtiexpress {
    font-family: BlendaScript;
}

#up {
    right: 180px;
    bottom: 45px;
    background: rgba(0, 0, 0, 0);
    border: solid 1px white;
}

#up:hover {
    border: none;
    background: #5e35b1;
}

#lang {
    background: rgba(0, 0, 0, 0);
    border: solid 1px white;
}

#esp{
 background: #424242;
}

#ing{
    background: #424242;
}

#esp a{
    color: white;
}

#ing a{
    color: white;
}

#error404{
    width: 100%;
    height: 800px
}